:root {
  --primary-color: #ca3434;
  --secondary-color: #373434;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}

.class-container {
  display: flex;
}
.add-task-btn {
  margin-bottom: 10px;
}
input {
  background-color: rgb(240, 240, 240);
  font-size: 1.5rem;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  border: none;
}

input:focus {
  outline: none;
}

.task-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.task-container:hover {
  background-color: rgb(240, 240, 240);
}
.check-circle {
  width: 1.6rem;
  height: 1.6rem;
}
header {
  height: 120px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}
nav {
  width: 10%;
  background-color: var(--secondary-color);
  color: white;
  position: fixed;
  top: 120px;
  bottom: 0;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
main {
  width: 90%;
  height: 100%;
  margin-left: auto;
  padding: 20px;
}
p {
  margin: 5px;
  display: inline-block;
}

.title.checked {
  color: #808080;
  text-decoration: line-through;
}